<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7 y &frac12;</title>

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1 class="logo">7<span>&frac12;</span></h1>
    <table class="puntaje">
        <th>Puntaje</th>
        <tr>
            <th>Banca</th>
            <th>Jugador</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>
    <div class="banca">
        <div class="">
            <div class="carta mazo"></div>
            <div class="carta muestra"></div>
        </div>
    </div>
    <div class="jugador">
        <div class="mesa">
            <div class="carta muestra"></div>
        </div>
    </div>
    <div class="footer">
        <div class="acciones">
            <button class="nuevo">Juego Nuevo</button>
            <button class="planto">Me Planto</button>
            <button class="otra">Otra</button>
        </div>
    </div>
</body>
</html>
