body {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
	
color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
	background-color: #0b6623;
}

h1.logo {
    color: yellow;
    font-size: 68px;
    text-align: center;
    display: inline;
}

.logo span {
    font-weight: 300;
    font-size: 36px;
}

button {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: darkslategray;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.025rem;
    height: 50px;
    min-width: 120px;
    padding: 10px 20px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
}

.puntaje {
    color: white;
    float: right;
}

.mazo {
    background-image: url(repetto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -45px;
}

.carta {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    width: 120px;
    
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4),
}

.otra {
    background-color: greenyellow;
    color: black;
}

.planto {
    background-color: firebrick;
    color: white;
}

