body {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;

    background-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1.logo {
    color: yellow;
    font-size: 68px;
    text-align: center;
    display: inline;
}

.logo span {
    font-weight: 300;
    font-size: 36px;
}

button {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: darkslategray;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.025rem;
    height: 50px;
    min-width: 120px;
    padding: 10px 20px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
}

.puntaje {
    color: white;
    float: right;
}

.mazo {
    background-image: url(assets/repetto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carta {
    background-color: white;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    width: 120px;
    
    box-shadow: 3px 2px 2px 6px black,
}

.otra {
    background-color: greenyellow;
    color: black;
}

.planto {
    background-color: firebrick;
    color: white;
}

