* {
	box-sizing: border-box;
}

body {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
	
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #0b6623;
}

a {
	text-decoration: none;
}

.container {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.row,
.footer {
	display: block;
	width: 100%;
	overflow: auto;
	clear: both;
}

h1.logo {
    color: yellow;
    font-size: 68px;
    text-align: center;
        display: block;
    margin: 0 auto;
    padding: 0;
margin-top: 20px;
}

.logo span {
    font-weight: 300;
    font-size: 36px;
}

.acciones {
	text-align: center;
}

.acciones form {
	display: inline-block;
	width: auto;
	margin: 2px 4px;
}

.acciones form input,
a.nuevo {
	font-family: Arial, sans-serif;
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #000000;
    display: inline-block;
    font-size: 18px;
    min-width: 120px;
    padding: 10px 20px;
}

.acciones form input:hover,
a.nuevo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.acciones form input.otra {
    background-color: greenyellow;
    color: #000000;
}

.acciones form input.meplanto {
    background-color: firebrick;
    color: #FFFFFF;
}

.puntaje {
	padding: 10px 20px;
	color: white;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 280px;
}

puntaje th {
	text-align: center;
}

th {
	font-weight: 700;
	font-size: 18px;
	text-align: left;
}

table th,
table td {
	text-align: center;
}

.mesa {
	
	display: block;
}

.mesa p {
	font-size: 26px;
	text-align: center;
	color: yellow;
}

.banca,
.jugador {
	float: left;
margin: 0 5px;
}

.mazo {
    background-image: url(repetto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -45px;
	border-bottom: 10px solid darkgrey;
}

.carta {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
	height: 360px;
    margin: 10px auto;
    width: 210px;
    color: #000000;
    
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.carta.muestra {
	outline: 1px solid black;
	outline-offset: -16px;
}

.carta .num {
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	top: 50%;
	position: relative;
	transform: translate(0, -50%);
	font-size: 48px;
}

@media (min-width: 480px) {
	.mesa {
		width: 440px;
		margin: 0 auto;
	}
}

@media {min-width:768px} {
	
}

